@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
  animation: rotation 360s infinite linear;
}

.star {
  position: absolute;
  border-radius: 50%;
}